* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 25px;
}

.bookbtn {
    padding: 8px 18px;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.bookbtn:hover {
    background-color: #8a5a43;
}

.lefttext {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}


.lefttext p {
    margin-top: 15px;
    width: 80%;
    font-size: 12px;
}

.middle{
    display: flex;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 325px;
    background-color: #8a5a43;
    gap: 19px;

}

.images {
    flex: 1;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    color: #fff;
    background-image: url(https://qualityroofingllc.net/wp-content/uploads/2024/10/What-to-Know-About-Roofing-When-Moving-Into-a-Rental-Property.jpg);
    background-size: cover;
    height: 325px;
   
}


.forma {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 310px;
    background: white;
    color: black;
    padding: 20px;
    margin-right: 20px;
}

.forma h3 {
    margin-bottom: 15px;

}

.forma input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 4px;
}


.formr {
    display: flex;
    gap: 10px;
}

textarea {
    height: 70px;
    border: 2px solid black;
}

form button {
    width: 100%;
    padding: 10px;
    background: white;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    background-color: #8a5a43;
}

form button:hover {
    background-color: #b86c49;
    box-shadow: 3px solid #442a1e;
}

.test-title {
    margin: 40px;
    font-size: 20px;
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 40px 60px;
}

.test-card {
    background: #8a5a43;
    color: white;
    padding: 25px;
    border-radius: 3px;
    height: 200px;
}

.test-card p{
    margin-top: 10px;
}

.stars {
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
}